/* ==========================================================================
   APP custom styles. Javier Bonet y Pedro Benito
   ========================================================================== */

@font-face { /*Insertamos la ruta donde se encuentra el archivo de la tipografia y el formato de la tipografia*/
    font-family: "Century Gothic";
    src: url("fonts/Century Gothic") format('opentype');
}

body {
    font-family: 'Century Gothic';
    background-color: #d0e9c6;
    padding-top: 60px;
    padding-bottom: 40px;
    background-repeat: repeat;
}
.btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0x;
}
.btn-toolbar {
    margin-top: 5px;
    margin-bottom: 5px;
}
.table-condensed th, .table-condensed td {
    padding-bottom: 0px;
    padding-top: 0px;
}
.table th, .table td {
    vertical-align:middle;
}
.table th{
    background-color: white;
}
.well{
    background-color: #FFFFFF;
}
#loginForm{
    margin:0 auto;
    width: 50%;
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
    background-color: white;
}
.navbar-inverse .navbar-inner {
    background-color: #000000;
    color: #111B0D;
    background-image: none;
    border-color: #2B6925;
    border-bottom-width: 5px;
}
.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus{
    background-color:#d0e9c6;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    text-shadow: none;
}
.navbar-inverse .brand:hover, .navbar-inverse .nav>li>a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav>li>a:focus {
    color:#F5FF00;

}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background-color: white;
}    
.caret, .caret:hover {
    color:white;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: #2B6925;
    background-image: none;
}     
.dropdown-menu>li>a:hover {
    background-color: #2B6925;;
    background-image: none;
}

hr {    
    border-top:  2px solid #e5e5e5;;
    border-bottom: 2px solid #fff;
}
.input_disabled {
    disabled:true;
} 

.input_resize{
    width: 95%;
}

.navbar-inverse .navbar-link {
    color: white;
}

navbar-inverse .brand {
    color: white;
}

.navbar-inverse .nav>li>a{
    color: white;
}


.navbar-inverse .navbar-text{
    color: white;
}

.nav-collapse collapse{
    padding-top: 150px;
}

.destacado{
    font-weight:bold;
}

#logogrande{
    margin-bottom: 40px;
}

#datos{
    background-color: white;
}

.modal-header, .modal-footer{
    color: white;
        background-color: #2B6925;

}

.modal-body{
    background-color: #d0e9c6;
}

#modal02{
    max-width: 70%;
}

#datos{
    max-width: 100%;
}
